/* <=== vhspeciapg ===> */
.vhspeciapg{
    padding: 30px 0 45px;
}
.tpspeciamm .mmlist{
    margin-bottom: 12px;
}
.tpspeciamm .pggrip{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.tpspeciamm .pggrip > div{
    padding: 0 8px;
    width: 25%;
    margin-bottom: 16px;
}
.itspecimm{
    height: 100%;
    position: relative;
    border-radius: 5px;
    background-color: #e5f7ff;
    padding: 29px 20px 32px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.itspecimm:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.itspecimm .mlinks{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.itspecimm .mlinks a{
    display: block;
    width: 100%;
    height: 100%;
}
.itspecimm .mthumb{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid #5395e0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    /* margin-bottom: 15px; */
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.itspecimm:hover .mthumb{
    background-color: #fff;
}
.itspecimm .mthumb img{
    max-width: 75%;
    max-height: 75%;
}
.itspecimm .mdecss{
    text-align: center;
    text-transform: none;
    color: #00379b;
}
.itspecimm .mdecss, .itspecimm .mdecss h3{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
/* <=== vhspeciapg ===> */

/* <=== vhdetailpg ===> */
.vhdetailpg{
    background-color: #f5faff;
    padding: 30px 0 55px;
}
.hpdetailpg > div{
    margin-bottom: 45px;
}
.hpdetailpg > div:last-child{
    margin-bottom: 0;
}
.vhdetailpg .vttiledt{
    text-align: center;
    margin-bottom: 20px;
    color: #00379b;
    text-transform: uppercase;
} 
.vhdetailpg .vttiledt, .vhdetailpg .vttiledt h2, .vhdetailpg .vttiledt h3{
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
}
.tpdetailmm .mmdecss{
    font-size: 14px;
    line-height: 24px;
}
.tpdetailmm .mmdecss h3{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
    color: #6bc0e7;
}
.tpdetailmm .vchange{
	position: relative;
}
.tpdetailmm .vchange::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: rgb(245,250,255);
	background: linear-gradient(0deg, rgba(245,250,255,1) 0%, rgba(245,250,255,0) 100%);
	z-index: 1;
}
.tpdetailmm .dsview{
	text-align: center;
	margin-top: 20px;
} 
.tpdetailmm .vhviewtt > div{
    display: none;
}
.tpdetailmm .vhviewtt a{
    position: relative;
    display: inline-block;
	font-size: 14px;
	line-height: 25px;
    font-weight: bold;
    padding: 10px 40px;
    background-color: #6bc0e7;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}
.tpdetailmm .vhviewtt a:hover{
    background-color: #00379b;
}
.tpdetailmm .vhviewtt a span{
    display: inline-block;
    position: relative;
    padding-right: 16px;
}
.tpdetailmm .vhviewtt a span::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.tpdetailmm .vhviewtt .showview a span::before{
    content: '\f107';
}
.tpdetailmm .vhviewtt .hideview a span::before{
    content: '\f106';
}
.itdetailhh{
    background-color: #e5f7ff;
    border-radius: 5px;
    overflow: hidden;
}
.itdetailhh .decss{
    padding: 10px 20px 22px;
}
.itdetailhh .dstitle{
    margin-bottom: 8px;
    text-transform: uppercase;
}
.itdetailhh .dstitle, .itdetailhh .dstitle h3{
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
}
.itdetailhh .dstitle, .itdetailhh .dstitle a{
    color: #00379b;
}
.itdetailhh .dstitle a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.itdetailhh .dsconts{
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 22px;
    height: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.itdetailhh .dslinks ul{
    display: flex;
    margin: 0 -5px;
} 
.itdetailhh .dslinks li{
    padding: 0 5px;
    width: 50%;
}
.itdetailhh .dslinks li a{
    display: block;
    font-size: 12px;
    line-height: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.itdetailhh .dslinks li.vm a{
    background-color: #6bc0e7;
}
.itdetailhh .dslinks li.vm a:hover{
    background-color: #00379b;
}
.itdetailhh .dslinks li.vh a{
    background-color: #00379b;
}
.itdetailhh .dslinks li.vh a:hover{
    background-color: #6bc0e7;
}
.itdetailhh .dslinks li a span{
    display: inline-block;
    position: relative;
    padding-right: 12px;
}
.itdetailhh .dslinks li a span::before{
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.itdetailbb:hover .thumb a img{
    transform: scale(1);
}

.sldetailtt .slick-list{
    padding: 5px 0 20px;
    position: relative;
    margin-top: -5px;
    margin-bottom: -20px;
}
.itservichh{
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.06);
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.itservichh:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.1);
}
.itservichh .decss{
    padding: 15px 20px 25px;
}
.itservichh .dstitle{
    margin-bottom: 8px;
    text-transform: uppercase;
}
.itservichh .dstitle, .itservichh .dstitle h3{
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
}
.itservichh .dstitle a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.itservichh .dsconts{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px;
    color: #555555;
    height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
} 
.tpdetailnn .nnbook{
    max-width: 380px;
    margin: 0 auto;
}
.tpdetailnn .nnbook a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(145, 221, 251);
    background: linear-gradient(90deg, rgba(145, 221, 251, 1) 0%, rgba(62, 121, 222, 1) 100%);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    animation: pulse_toolhh 2s infinite;
    box-shadow: 0 0 0 0 #6bc0e7;
}
@keyframes pulse_toolhh {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #6bc0e7;
    }

    70% {
        transform: scale(1.02);
        box-shadow: 0 0 0 12px rgb(0,152,218,0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgb(0,152,218,0);
    }
}
.tpdetailnn .nnbook a i{
    margin-right: 12px;
}
/* <=== vhdetailpg ===> */

/* <=== vhortherpg ===> */
.vhortherpg{
    padding: 35px 0 50px;
}
.slortherpg .slick-list{
    padding: 5px 0 10px;
    position: relative;
    margin-top: -5px;
}
/* <=== vhortherpg ===> */
@media all and (max-width: 1200px){

}
@media all and (max-width: 991px){
    /* <=== vhspeciapg ===> */
    .tpspeciamm .pggrip{
        margin: 0 -10px;
    }
    .tpspeciamm .pggrip > div{
        padding: 0 10px;
        margin-bottom: 20px;
        width: 33.3333%;
    }
    .itspecimm{
        padding: 16px 16px 12px;
    }
    .itspecimm .mdecss, .itspecimm .mdecss h3{
        font-size: 13px;
        line-height: 19px;
    }
    .itspecimm .mthumb{
        width: 58px;
        height: 58px;
        border-width: 3px;
    }
    /* <=== vhspeciapg ===> */

    /* <=== vhortherpg ===> */
    .vhortherpg{
        padding: 20px 0 35px;
    }
    /* <=== vhortherpg ===> */

    /* <=== vhdetailpg ===> */
    .vhdetailpg{
        padding: 20px 0 35px;
    }
    .hpdetailpg > div{
        margin-bottom: 30px;
    }
    .vhdetailpg .vttiledt{
        margin-bottom: 15px;
    }
    .vhdetailpg .vttiledt, .vhdetailpg .vttiledt h2, .vhdetailpg .vttiledt h3{
        font-size: 20px;
        line-height: 30px;
    }
    .tpdetailmm .mmdecss h3{
        font-size: 18px;
        line-height: 24px;
    }
    .tpdetailmm .mmdecss p{
        padding: 3px 0;
    }
    .itdetailhh .dstitle, .itdetailhh .dstitle h3{
        font-size: 20px;
    }
    .itservichh .decss{
        padding: 8px 12px 15px;
    }
    .itservichh .dstitle{
        margin-bottom: 4px;
    }
    .itservichh .dstitle, .itservichh .dstitle h3{
        font-size: 13px;
        line-height: 19px;
    }
    .itservichh .dstitle a{
        height: 38px;
        -webkit-line-clamp: 2;
    }
    .itservichh .dsconts{
        font-size: 12px;
        line-height: 19px;
        height: 38px;
        -webkit-line-clamp: 2;
        margin-bottom: 8px;
    }
    .itservichh .viewmore a{
        font-size: 12px;
    }
    /* <=== vhdetailpg ===> */
}
@media all and (max-width: 767px){
    /* <=== vhspeciapg ===> */
    .tpspeciamm .pggrip > div{
        width: 50%;
    }
    /* <=== vhspeciapg ===> */
}